{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-grp">
                    <legend class="border-bottom mb-4 mt-4">Edit Pin Tag</legend>
                    <p class="mb-4">Tag Name:- {{ tag.name }}</p>
                    <div class="form-grp mt-3">
                        {{ form.name.label(class="form-control-label")}}
                        {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                        {% else %}
                        {{ form.name(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <hr>
                <div class="form-group mt-4">
                    {{ form.update(class="btn btn-outline-danger") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}