{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="profile_pic d-flex justify-content-center mt-5">
            <div class="center-block text-center">
                <img class="rounded-circle" src="{{ profile_pic }}">
                <h2 class="account-heading text-center">{{ user.username }}</h2>
                <p class="text-secondary text-center">{{ user.email }}</p>
                <p class="text-secondary text-center"><span id="follower-count">{{ followers }}</span> Followers {{
                    following }} Following</p>

                <div class="text-center">
                    {% if current_user.id in user.follow|map(attribute="user_id")|list %}
                    <a class="btn btn-outline-danger btn unfollow " id="{{ user.id }}"
                       href="{{ url_for('users.follow_user', user_id=user.id) }}">
                        Unfollow
                    </a>
                    {% else %}
                    <a class="btn btn-outline-danger btn-lg follow " id="{{ user.id }}"
                       href="{{ url_for('users.follow_user', user_id=user.id) }}">
                        Follow
                    </a>
                    {% endif %}
                </div>

                <p></p>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="center-block">
        <br>
        <div class="float-start">
            <h4>Your Boards</h4>
        </div>
        <br>
        <hr>
        {% for board in boards %}
        <div class="pin_container">
            <div class="box">
                <div class="bg-light rounded border border-danger m-3">
                    <a class="text-danger text-decoration-none p-1"
                       href="{{ url_for('pins.user_board_info',board_id=board.id) }}"><h2 class="text-center">{{ board.name
                        }}</h2></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="center-block">
        <br>
        <div class="float-start">
            <h4>{{ user.username }}'s Pins</h4>
        </div>

        <br>
        <hr>
        <!--User's pins------------------------------------------------------->
        {% for pin in pins %}
        <div class="pin_container">
            <div class="box">
                <div class="grid-item grid-item--height3">
                    <img src="{{ url_for('static',filename='pin_img/' + pin.pin_pic) }} ">
                    <a href="{{ url_for('pins.selected_pin',pin_id=pin.id) }}" class="text-danger text-decoration-none">{{
                        pin.title }}</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock content %}